.main-background-color{
    background-color: #cad7fda4;
}
.second-background-color{
    background-color: #fafaff;
}
.primary-color{
    background-color: #4b49ac
}
.secondary-color{
    background-color: #0c007d
}
.Border-color{
    background-color: #3f0097
}
.box-color1{
    background-color: #3f0097
}
.box-color2{
    background-color: #5500cb
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.header-text{
    color: #0c007d;
}


