.login-model{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 5vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066; 
}
.login-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80vh;
}
.displaced{
    border-left: 5px solid #a2a2a2 !important;
    background-color: #dadada !important;
    cursor: pointer !important;
    color: black !important;
}